body{
  background-color: white;
  font-family: Helvetica, sans-serif;
  text-align: center;
  color:grey;
}
.heading {
  background-image: url(../images/the-flatiron-building.png);
  opacity: 0.5;
}
h1,
h2,
h3 {
  font-weight: bold;
}
h1 {
  font-size: 70px;
  color: white;
}
li{
  list-style-type: none;
}
a {
  color:white;
  font-size: 18px;

}

h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
h3.newyork {
  background-image: url(../images/the-flatiron-building.png);
  opacity: 0.5;
}
.footer{
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
  color: white;
}
